.git/**
*.dll
*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*logs/*
tests/logs/*
*.cpp*
*.obj*
*.html*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
data/**
*.vs
**/.dockerignore

/tests/data/
/tests/data/block593161.hex
/tests/data/block593161.offsets
/tests_functional/big_data_carrier_tx.py
/.pytest_cache/
/examples
examples/headers.mainnet
examples/headers.regtest
examples/headers.testnet
examples/peers.mainnet.json
examples/peers.testnet.json
examples/peers.regtest.json
examples/headers.blocks.regtest
examples/headers.blocks.testnet