*.dll
*.lock
*.mmap
*.pyd
*.lib
*.exp
*.obj
*.pyc
*.iml
*.xml
*.idea
*.egg*
*.cpp*
*.obj*
*.log
*.mdb
*.ldb
*.dat
**/obj/**
**/bin/**
../profile.svg
profile.svg
*.*proj.user
*.vs
**/.classpath
**/.dockerignore
**/.env

block593161.hex
block593161.offsets
/tests/data/
/.pytest_cache/
